body {
  background-color: #D0D0D0;
}

h1 {
  font-size: 40px;
}

table {
    border-spacing: 0;
}

td {
  width: 50px;
  height: 50px;
  color: white;
  font-size: 24px;
  text-align: center;
  background-size: contain;
  border-left: 5px solid black;
  border-top: 5px solid black;
}

tr:last-child td {
  border-bottom: 5px solid black;
}

td:last-child {
  border-right: 5px solid black;
}

.unoccupied {
  background-color: gray;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.king {
  background-image: url('king.png');
}

.city {
  background-image: url('001-skyline.png');
}

.mountain {
  background-image: url('mountain.png');
}

.selected {
  border: 2px solid white;
}
